{% extends "bookrent/base.html" %}

{% block title %}Lista książek{% endblock %}


{% block content %}


<h2>Książki</h2>
<table style="width:50%" class="table table-striped">
	<tr>
    	<th>Nr</th>
    	<th>Tytuł</th>
    	<th>Autorzy</th> 
    	<th>Operacje</th>
        <th>Wypożyczona przez</th>
  	</tr>

 
{% for book in object_list %}
	<tr>
    	<td>{{ book.id }}</td>
    	<td>{{ book.title }}</td> 
    	<td>
    		{% for author in book.authors.all %}
    			"{{author.last_name}} {{author.first_name}}"
    		{% endfor %}
    	</td>
    	<td>
    		<a href="{% url 'bookrent:book-edit' book.id %}">Edit</a> |  
    		<a href="{% url 'bookrent:book-delete' book.id %}">Delete</a>
    	</td>
        <td>
            {% for rental in book.rental_set.all %}
                {% if rental.returned == False %}
                    {{rental.client}}
                {% endif %}
            {% endfor %}
        </td>
  </tr>

{% endfor %}
</table>
<p>
	<a href="{% url 'bookrent:book-new' %}">Dodaj książkę</a>
</p>

{% endblock %}

