{% extends "bookrent/base.html" %}

{% block title %}Lista klientów{% endblock %}


{% block content %}

<h2>Klienci</h2>
<p>
<a href="{% url 'bookrent:client-new' %}">Nowy klient</a>
</p>
 <table style="width:50%">
      <tr>
            <th>Nr</th>
            <th>Nazwisko i imię</th>
      </tr>

{% for client in object_list %}
      <tr>
            <td>{{ client.id }}</td>
            <td>
                <a href="{% url 'bookrent:client-detail' client.id %}">{{client}}</a>
            </td>
      </tr>
            <!---<ul>
            	{% for rental in client.rental_set.all %}
            		{% if rental.returned == False %}
            			<li>

            				{{ rental.book }}
            	    
            			</li>

            		{% endif %}
            	{% endfor %}
            </ul>
            -->
{% endfor %}
</table>
</ul>

{% endblock %}
